<section class="stay-filter main-layout" *ngIf="ishome  ">

    <div class="main-content d-flex justify-content-center">
        <div (click)="onScroll(-1)" class="arrow-container arrow-left ">
            <div class="arrow arrow-left">
                <mat-icon>fast_rewind</mat-icon>
            </div>
        </div>
        <div #elFilter class="filter-container   mx=auto">
            <div  *ngFor="let filter of category" (click)="onClickLabel(filter.categoryId)">
                <img src="{{filter.categoryIcon}}" alt="">
                <span>{{ filter.categoryName}}</span>
            </div>

        </div>
        <div  (click)="onScroll(1)" class="arrow-container arrow-right  ">
            <div class="arrow arrow-right  ">
                <mat-icon >fast_forward</mat-icon>
            </div>
        </div>
    </div>

</section>
