<div class="col-4 mx-auto mt-50 p-4 grid text-center">
    <form [formGroup]="form" (submit)="handleSubmit(form)" class="needs-validation" novalidate>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="text" matInput placeholder="Email" [value]="EmailParams" readonly="true" [ngModel]="EmailParams">
        <!-- <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error> -->
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>New Password</mat-label>
        <input formControlName="newPassword" matInput [type]="hide ? 'password' : 'text'"  pattern='^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{8,}$'>
        <mat-error *ngIf="form.get('newPassword')?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="form.get('newPassword')?.hasError('pattern')">
          password not match pattern [<strong> contain Upercase / Lowercase / numbers</strong>]
        </mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Confirm New Password</mat-label>
        <input formControlName="confirmNewPassword" matInput [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="form.get('confirmNewPassword')?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="form.get('confirmNewPassword')?.hasError('passwordMismatch')">Passwords do not match</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
  
      <button type="submit" class="btn fs-4 btn-block mb-4 col-8" style="background-color: rgb(255, 102, 102); font-family: cursive;">
        Save Change
      </button>
    </form>
  </div>
  