<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 d-flex justify-content-center">
      <div class="title">MY PROFILE</div>
    </div>
    <div class="col-md-8 m-2">
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <img
                style="height: 15rem; width: 15rem"
                [src]="
                  userProfile.url ||
                  'assets/Images/istockphoto-639085642-170667a.jpg'
                "
                class="rounded-circle profile-pic"
              />
            </div>
            <div class="col-md-12 d-flex justify-content-center mt-3">
              <h2 class="card-title font-weight-bold">
                {{ userProfile.firstName }} {{ userProfile.lastName }}
              </h2>
            </div>
            <div class="col-md-12 mt-3">
              <p class="card-text">{{ userProfile.about }}</p>
            </div>
          </div>
          <hr class="my-4" />
          <div class="row">
            <div class="col-md-6">
              <p class="card-text">
                <strong>Email:</strong> {{ userProfile.email }}
              </p>
            </div>
            <div class="col-md-6">
              <p class="card-text">
                <strong>Phone Number:</strong> {{ userProfile.phoneNumber }}
              </p>
            </div>
          </div>
          <hr class="my-4" />
          <div class="row mt-3">
            <button mat-raised-button color="warn" routerLink="/updateProfile">
              Edit Profile
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 d-flex justify-content-center">
      <h1>User Profile</h1>
    </div>
    <div class="col-md-8 m-2">
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <img
                src="{{ userProfile.profilePicture }}"
                alt="Profile Picture"
                class="rounded-circle img-fluid"
              />
            </div>
            <div class="col-md-12 d-flex justify-content-center mt-3">
              <h2 class="card-title font-weight-bold">
                {{ userProfile.firstName }} {{ userProfile.lastName }}
              </h2>
            </div>
            <div class="col-md-12 mt-3">
              <p class="card-text">{{ userProfile.about }}</p>
            </div>
          </div>
          <hr class="my-4" />
          <div class="row">
            <div class="col-md-6">
              <p class="card-text">
                <strong>Email:</strong> {{ userProfile.email }}
              </p>
            </div>
            <div class="col-md-6">
              <p class="card-text">
                <strong>Phone Number:</strong> {{ userProfile.phoneNumber }}
              </p>
            </div>
          </div>
          <hr class="my-4" />
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <a routerLink="/update" class="btn btn-danger">Edit Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
