<style></style>

<footer class="bg-dark text-white mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-3 my-5">
        <h4>Support</h4>
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Help Center</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >RentCover</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Supporting people with disabilities</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Cancellation options</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Our COVID-19 Response</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Report a neighborhood concern</a
        >
      </div>
      <div class="col-sm-12 col-lg-3 my-5">
        <h3>Community</h3>
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Rentify.org: disaster relief housing</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Combating discrimination</a
        >
      </div>
      <div class="col-sm-12 col-lg-3 my-5">
        <h3>Hosting</h3>
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Rentify your home</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >RentCover for Hosts</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Explore hosting resources</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Visit our community forum</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >How to host responsibly</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Rentify-friendly apartments</a
        >
      </div>
      <div class="col-sm-12 col-lg-3 my-5">
        <h3>Rentify</h3>
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Newsroom</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Learn about new features</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Letter from our founders</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Careers</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Investors</a
        >
        <a
          href="#"
          style="display: block"
          class="fw-bold link-secondary link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Gift cards</a
        >
      </div>
    </div>
    <hr style="color: white" />
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <a style="display: inline">© 2023 Rentify, Inc.</a> -
        <a
          href="#"
          style="display: inline; color: white"
          class="fw-bold link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Terms</a
        >
        -
        <a
          href="#"
          style="display: inline; color: white"
          class="fw-bold link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Privacy</a
        >
        -
        <a
          href="#"
          style="display: inline; color: white"
          class="fw-bold link-offset-1 link-underline-opacity-100 link-underline-opacity-0-hover mt-2"
          >Your Privacy Choices</a
        ><mat-icon class="ms-2 pt-2 fs-6">verified_user</mat-icon>
        <pre></pre>
      </div>
      <div class="col-lg-6 col-sm-12 d-flex flex-row-reverse">
        <a href="#"
          ><img src="assets/Images/insta.png" style="height: 32px; width: 32px"
        /></a>
        <a href="#"
          ><img
            src="assets/Images/face.png"
            style="height: 45px; width: 45px; margin-top: -7px"
        /></a>
        <a href="#"
          ><img
            src="assets/Images/twitter.png"
            style="height: 28px; width: 28px"
        /></a>
        <a href="#"
          ><img
            src="assets/Images/gmail.png"
            style="height: 30px; width: 30px; margin-right: 5px"
        /></a>
        <a href="#"
          ><img
            src="assets/Images/youtube.png"
            style="
              height: 40px;
              width: 55px;
              margin-right: -7px;
              margin-top: -5px;
            "
        /></a>
      </div>
    </div>
  </div>
</footer>
