<style>
  ::ng-deep .mat-form-field-outline-start {
    border-radius: 30px 0 0 50px !important;
    min-width: 1px !important;
  }
  .bord {
    border-color: rgb(197, 26, 61);
  }
</style>

<div class="container-fluid border-bottom">
  <nav class="row">
    <div class="col-1 align-items-start flex-column">
      <a class="mb-auto p-2" routerLink="/Property">
        <img
          style="position: static"
          src="assets/Images/Logo.png"
          width="100"
          height="100"
          class="d-inline-block align-top"
          alt=""
        />
      </a>
    </div>
    <div *ngIf="!ishometab" style="width: 50%; margin: auto" class="mt-3"></div>

    <div *ngIf="ishometab" style="width: 50%; margin: auto" class="mt-3">
      <mat-expansion-panel
        style="
          border-style: outset;
          border-radius: 20px;
          width: 100%;
          border-color: rgb(197, 26, 61);
        "
      >
        <mat-expansion-panel-header>
          <p>Search</p>
        </mat-expansion-panel-header>

        <div>
          <mat-form-field
            appearance="outline"
            style="width: 22%; margin-right: 1%"
            class="bg-white"
          >
            <mat-label>Countries</mat-label>
            <mat-select #country (selectionChange)="getcities(country.value)">
              <mat-option [value]="0"> ALL Countries </mat-option>
              <mat-option
                *ngFor="let Countryandcity of searchCountryandcity"
                [value]="Countryandcity.countryId"
              >
                {{ Countryandcity.countryname }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            style="width: 22%; margin-right: 1%"
          >
            <mat-label>Cities</mat-label>
            <mat-select #city (selectionChange)="changecity(city.value)">
              <mat-option [value]="0"> ALL Cities </mat-option>
              <mat-option *ngFor="let city of cities" [value]="city.cityId">
                {{ city.cityname }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            style="width: 22%; margin-right: 1%"
          >
            <mat-label>Catogires</mat-label>
            <mat-select
              #Catogrey
              (selectionChange)="changeCatogrey(Catogrey.value)"
            >
              <mat-option [value]="0"> ALL Catogries </mat-option>
              <mat-option
                *ngFor="let Catogrey of Catogires"
                [value]="Catogrey.categoryId"
              >
                {{ Catogrey.categoryName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            style="width: 22%; margin-right: 1%"
          >
            <mat-label> Guests</mat-label>
            <mat-select
              #numberofguest
              (selectionChange)="changenumberofguests(numberofguest.value)"
            >
              <mat-option *ngFor="let number of numbers" [value]="number">
                {{ number }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button
            mat-icon-button
            color="warn"
            aria-label=""
            class="mt-4"
            (click)="search()"
          >
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </mat-expansion-panel>
    </div>
    <div style="width: 15%" class="mt-3" *ngIf="ishosttab"></div>

    <div style="width: 15%" class="mt-3" *ngIf="!ishosttab">
      <button
        mat-button
        class="rounded-pill"
        style="width: 100%"
        *ngIf="Isloggen && ishost == 'Host'"
        (click)="switchToHosting()"
        routerLink="/HostDashboardComponent"
      >
        switch to hosting
      </button>
      <button
        mat-button
        style="width: 100%"
        *ngIf="Isloggen && ishost == 'Guest'"
        routerLink="/HostDashboardComponent"
      >
        Rentify Your home
      </button>
      <button
        mat-button
        style="width: 100%"
        *ngIf="!Isloggen"
        routerLink="/login"
      >
        Rentify Your home
      </button>
    </div>

    <button
      mat-button
      [matMenuTriggerFor]="menu"
      class="mt-3 rounded-pill"
      style="width: 5%; border-color: rgb(10, 7, 6); border-style: solid"
    >
      <mat-icon>menu</mat-icon> <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu
      #menu="matMenu"
      class="border-bottom-0 rounded-top rounded-left rounded-right"
    >
      <div *ngIf="Isloggen">
        <a mat-menu-item routerLink="/user-profile">
          <mat-icon>person</mat-icon> profile</a
        >
        <button mat-menu-item routerLink="/Property" (click)="logout()">
          <mat-icon>reply</mat-icon>sign out
        </button>
        <a mat-menu-item routerLink="/GuestTrips">
          <mat-icon>airplanemode_active</mat-icon> Mytrips</a
        >
      </div>
      <div *ngIf="!Isloggen">
        <a mat-menu-item routerLink="/login">
          <mat-icon>login</mat-icon> login
        </a>
        <a mat-menu-item routerLink="/Register">
          <mat-icon>note_add</mat-icon> Register
        </a>
      </div>
    </mat-menu>
  </nav>
</div>
