

  <div class="">

<form [formGroup]="form" class="user-form" id="form" (ngSubmit)="Check(form)">
    


    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" id="search" placeholder="Enter Email User" formControlName="email" matInput>

        <mat-error *ngIf="form.get('email')?.hasError('required')">
          email is <strong>required</strong>
        </mat-error>


      </mat-form-field>


    <button type="submit" class="btn col-3"style="background-color: rgb(255, 102, 102);     font-family: cursive;" > Send Mail </button>

  </form>
  <small class="info  py-3 my-3 bg-warning" *ngIf="found">   no account was found in our database for the email address you entered. Please start by checking the following: Make sure there are no spelling errors in the email address    </small>

  </div>


