<div class="container">
  <div class="title">HOST PROPERTIES</div>
  <mat-form-field class="col-12 py-3">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="eg: property1"
      #input
    />
  </mat-form-field>

  <!--Table-->
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="propertyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Property Name</th>
        <td mat-cell *matCellDef="let row">
          <span>
            <span style="padding-right: 5px">
              <i class="fas fa-building icon-green"></i>
            </span>
            {{ row.propertyName }}
          </span>
        </td>
      </ng-container>
      <!-- Maximum Guests Column -->
      <ng-container matColumnDef="MaxNumberOfGuests">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Maximum Guests
        </th>

        <td mat-cell *matCellDef="let row" style="padding-left: 50px">
          <span
            ><span style="padding-right: 5px"
              ><i class="fas fa-users icon-purple" style="color: #800080"></i
            ></span>
            {{ row.maxGuests }}</span
          >
        </td>
      </ng-container>

      <!-- Price per night Column -->
      <ng-container matColumnDef="PricePerNight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Price Per Night
        </th>

        <td mat-cell *matCellDef="let row">
          <span style="padding-left: 20px">
            <span style="padding-right: 5px">
              <i
                class="fa-solid fa-sack-dollar fs-5 icon-price"
                style="color: #006110"
              ></i
            ></span>
            {{ row.price }}
          </span>
        </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
        <td mat-cell *matCellDef="let row">
          <span>
            <span style="padding-right: 5px"
              ><i
                class="fas fa-map-marker-alt icon-address"
                style="color: #ff0000"
              ></i
            ></span>
            {{ row.adress }}</span
          >
        </td>
      </ng-container>

      <!-- Update Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Update Property
        </th>
        <td mat-cell *matCellDef="let row">
          <span style="padding-left: 30px">
            <button
              mat-icon-button
              color="primary"
              (click)="navigateToEdit(row.propertyId)"
            >
              <mat-icon>edit</mat-icon>
            </button></span
          >
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="deleteAction">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Delete Property
        </th>
        <td mat-cell *matCellDef="let row">
          <span style="padding-left: 30px">
            <button
              mat-icon-button
              color="warn"
              (click)="deleteHostProperty(row.propertyId)"
            >
              <mat-icon>delete</mat-icon>
            </button></span
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of Property"
    ></mat-paginator>
  </div>
</div>
